@charset "UTF-8";
.wf-loading {
  visibility: hidden;
}

.wf-active, .wf-inactive {
  visibility: visible;
}

@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

::-moz-selection {
  background-color: #464646;
  color: white;
}

::selection {
  background-color: #464646;
  color: white;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 100%;
  font-family: "letter-gothic-std", monospace;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.02em;
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px auto;
  max-width: 1920px;
  background-color: white;
  color: #464646;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

@media only screen and (min-width: 38em) {
  body {
    width: -webkit-calc(100% - 36px);
    width: calc(100% - 36px);
    margin: 18px auto;
  }
}

body a {
  color: #464646;
}

header, #intro, #work figcaption, .max-width, footer p {
  padding-top: 8.333333333%;
  padding-bottom: 8.333333333%;
  width: 83.33333334%;
  margin: 0 auto;
  max-width: 2360px;
}

header {
  padding-top: 1.25rem;
  padding-bottom: 1.95rem;
}

@media only screen and (min-width: 65em) {
  header {
    padding-top: 0.35rem;
  }
}

.container {
  background-color: white;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.56;
}

h1, h2, h3, h4 {
  line-height: 1.56;
}

h1, .uno {
  font-size: 3.046875rem;
}

h2, .dos {
  font-size: 1.25rem;
}

h3, .tres {
  font-size: 1.25rem;
}

.reg {
  font-size: 1rem;
}

.font_small {
  font-size: .8rem;
}

em {
  font-style: italic;
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.all-caps {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.neuzeit {
  font-family: "neuzeit-grotesk",sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.04em;
}

.neuzeit i {
  font-family: "letter-gothic-std", monospace;
}

.cooper, figcaption h2 {
  font-family: "cooper-black-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.arrow-bounce i {
  display: none;
}

@media only screen and (min-width: 28em) {
  .arrow-bounce i {
    display: inline-block;
  }
}

.arrow-bounce i, .we-like a i {
  margin-left: 0px;
}

.arrow-bounce:hover i, .we-like a:hover i {
  margin-left: 10px;
}

nav {
  text-align: center;
}

nav #salt-logo {
  background-image: url(http://www.justaddsalt.ca/salt-dev/images/salt.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  display: inline-block;
  width: 6rem;
  height: 2.875rem;
  text-indent: 9999px;
  overflow: hidden;
}

@media only screen and (min-width: 45em) {
  nav #salt-logo {
    width: 37.5%;
  }
}

nav ul {
  display: inline-block;
  width: 100%;
  margin-top: .5rem;
}

@media only screen and (min-width: 45em) {
  nav ul {
    margin-top: .85rem;
    width: 61%;
  }
}

nav ul li {
  display: inline-block;
  width: 30%;
}

@media only screen and (min-width: 35em) {
  nav ul li {
    width: 32.05%;
  }
}

@media only screen and (min-width: 45em) {
  nav ul li {
    width: 32.05%;
  }
}

@media only screen and (min-width: 65em) {
  nav ul li {
    width: 22.95%;
  }
}

nav ul li:last-child {
  width: auto;
}

nav ul li a {
  text-decoration: none;
  line-height: 1;
  font-size: 1rem;
  color: #464646;
  /* '' */
}

nav ul li a .icon-arrow:before {
  display: none;
  content: '\e136';
  -webkit-transform: translateY(-4px) translateX(6px);
  -ms-transform: translateY(-4px) translateX(6px);
  transform: translateY(-4px) translateX(6px);
}

@media only screen and (min-width: 45em) {
  nav ul li a .icon-arrow:before {
    display: block;
  }
}

nav ul li a:hover .icon-arrow:before {
  -webkit-transform: translateY(-4px) translateX(14px);
}

nav .instagram-link {
  font-size: .375rem;
  letter-spacing: 0.04em;
  margin-top: 0.75rem;
  display: none;
}

@media only screen and (min-width: 65em) {
  nav .instagram-link {
    display: inline-block;
  }
}

nav .instagram-link a i {
  margin-right: 8px;
  color: #464646;
}

#intro h1, #intro .dos {
  font-size: 1.25rem;
}

@media only screen and (min-width: 36em) {
  #intro h1, #intro .dos {
    font-size: 1.945rem;
  }
}

@media only screen and (min-width: 60em) {
  #intro h1, #intro .dos {
    margin-top: 3rem;
  }
}

#first-project {
  position: relative;
}

#first-project .vertical-link {
  line-height: 1;
  text-decoration: none;
  display: none;
}

#first-project .vertical-link a {
  text-decoration: none;
  display: inline-block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0px;
}

#first-project .vertical-link a i {
  display: inline-block;
  margin-left: 0px;
}

#first-project .vertical-link a:hover i {
  display: inline-block;
  margin-left: 10px;
}

#first-project .vertical-link a:first-child {
  padding-right: 6px;
}

#first-project .vertical-link .white {
  padding-left: 9px;
  color: white;
  border-bottom-color: white;
}

@media only screen and (min-width: 60em) {
  #first-project .vertical-link {
    position: absolute;
    top: -5.575rem;
    left: 8.33333%;
    display: inline-block;
    float: left;
    -webkit-transform-origin: left bottom 0;
    -ms-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
  }
}

#work figcaption {
  padding-top: 3.125%;
  padding-bottom: 11.11%;
}

#work figcaption h2 {
  line-height: 1;
  margin-top: 5%;
}

@media only screen and (min-width: 38em) {
  #work figcaption h2 {
    margin-top: 0;
    line-height: 1.56;
  }
}

#work figcaption aside:nth-child(2) {
  margin-top: .75rem;
}

#work figcaption aside:nth-child(2) p {
  font-size: 1rem;
  margin-bottom: .75rem;
}

#work figcaption aside:nth-child(2) a {
  font-size: .8rem;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0px;
}

@media only screen and (min-width: 60em) {
  #work figcaption {
    padding-top: 11.11%;
    padding-bottom: -webkit-calc(11.11% - .675rem);
    padding-bottom: calc(11.11% - .675rem);
  }
  #work figcaption aside:first-child {
    margin-top: -1.35rem;
    margin-top: -5.15rem;
  }
  #work figcaption aside:nth-child(2) {
    margin-top: 0rem;
  }
  #work figcaption aside:nth-child(2) p {
    font-size: 1.25rem;
    margin-bottom: .75rem;
  }
  #work figcaption aside:nth-child(2) a {
    font-size: 1rem;
  }
}

#work figcaption h2 a {
  text-decoration: none;
  letter-spacing: -0.025em;
}

#work figcaption h3 {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  width: 75%;
  margin-top: .75rem;
}

#about {
  background-color: #323333;
  color: #dddfe1;
}

#about .about-bottom {
  margin-top: 3.5rem;
  padding-top: 3.25rem;
  border-top: dotted 1px #dddfe1;
}

@media only screen and (min-width: 38em) {
  #about .about-bottom {
    margin-top: 6rem;
  }
}

#about #contact h1, #about #contact h2 {
  margin-bottom: 1rem;
}

#about #contact p {
  max-width: 35.5rem;
}

#about #contact ul {
  list-style-type: none;
}

#about #contact ul li {
  line-height: 1.56;
}

#about #contact ul li:last-child {
  margin-top: .75rem;
}

#about #contact ul i {
  margin-right: 8px;
}

#about #contact ul a {
  margin-left: 0px;
  color: #dddfe1;
}

#about #contact ul a:hover {
  margin-left: 10px;
}

#about #team figure {
  margin-top: 1.3333rem;
}

#about #team figure:nth-child(3) {
  margin-top: 2.66666rem;
}

#about #team figure:nth-child(4) {
  margin-top: 2.66666rem;
}

#about #team figure img {
  width: 3.75rem;
  margin-bottom: 1rem;
  display: block;
}

@media only screen and (min-width: 35em) {
  #about #team figure img {
    margin-bottom: 0rem;
    margin-right: 1rem;
    display: inline-block;
  }
}

@media only screen and (min-width: 60em) {
  #about #team figure {
    width: 75%;
  }
}

#about #team figure figcaption {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 35em) {
  #about #team figure figcaption {
    width: -webkit-calc(100% - 4.75rem);
    width: calc(100% - 4.75rem);
    margin-left: 4.75rem;
    margin-top: -4.495rem;
    display: inline-block;
  }
}

#about #team figure figcaption h3 {
  font-size: .8rem;
  text-decoration: underline;
  display: inline;
}

#about #team figure figcaption p {
  font-size: .8rem;
  display: inline;
}

#about #team figure figcaption ul {
  margin-top: .75rem;
}

#about #team figure figcaption ul li {
  display: inline-block;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .75rem;
  overflow: hidden;
}

#about #team figure figcaption ul li a {
  text-decoration: none;
  color: #dddfe1;
}

#about #team figure figcaption ul li:first-child {
  padding-top: 1px;
}

#about #services h2, #about #project-team h2 {
  margin-bottom: 1rem;
  margin-top: 1.75rem;
}

@media only screen and (min-width: 60em) {
  #about #services .no-margin-top, #about #project-team .no-margin-top {
    margin-top: 0;
  }
}

#about #services ul, #about #project-team ul {
  list-style-type: none;
}

#about #services ul li, #about #project-team ul li {
  position: relative;
  line-height: 2;
  margin-left: 1rem;
}

#about #services ul li:before, #about #project-team ul li:before {
  content: '–';
  position: absolute;
  left: -1rem;
}

@media only screen and (min-width: 60em) {
  #about #services .we-like, #about #project-team .we-like {
    margin-top: -7px;
  }
}

#about #services .we-like li, #about #project-team .we-like li {
  line-height: 1;
  margin-bottom: 1.25rem;
}

#about #services .we-like li a, #about #project-team .we-like li a {
  display: inline-block;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 0px;
  color: #dddfe1;
}

footer {
  background-color: #323333;
  color: #dddfe1;
  text-align: center;
}

footer p {
  font-size: .625rem;
  text-transform: uppercase;
  border-top: dotted 1px #fff;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.kern-2 {
  display: inline-block;
  margin-left: -3px;
}

.kern-1 {
  display: inline-block;
  margin-left: -1px;
}

.kern-8 {
  display: inline-block;
  margin-left: -10px;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?44918365");
  src: url("../font/fontello.eot?44918365#iefix") format("embedded-opentype"), url("../font/fontello.woff?44918365") format("woff"), url("../font/fontello.ttf?44918365") format("truetype"), url("../font/fontello.svg?44918365#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  cursor: pointer;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: '\e132';
}

/* '' */
.icon-mail:before {
  content: '\e133';
}

/* '' */
.icon-dribbble:before {
  content: '\e134';
}

/* '' */
.icon-linkedin:before {
  content: '\e135';
}

/* '' */
.icon-arrow:before {
  content: '\e136';
  -webkit-transform: translateY(-5px) translateX(6px);
  -ms-transform: translateY(-5px) translateX(6px);
  transform: translateY(-5px) translateX(6px);
}

/* '' */
.icon-arrow-contact:before {
  -webkit-transform: translateY(-5px) translateX(0);
  -ms-transform: translateY(-5px) translateX(0);
  transform: translateY(-5px) translateX(0);
}

/* '' */
.internal {
  padding: 0;
  color: #464646;
}

.internal footer {
  background-color: #f2f5f2;
  color: #464646;
}

.internal footer p {
  border-top: dotted 1px #464646;
}

.internal .container {
  background-color: white;
}

.project-nav {
  position: fixed;
  z-index: 8;
  background-color: white;
  text-align: center;
  height: 9.1rem;
  margin: 0;
  width: 43px;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.project-nav a {
  font-size: .75rem;
  line-height: 1;
  color: #464646;
  text-decoration: none;
  text-transform: uppercase;
}

#prev, #next, #back {
  display: block;
}

.project-back {
  height: 27px;
  width: 10rem;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#back {
  bottom: 0;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
      transform: translateX(-50%) translateY(-100%);
}

#next a, #prev a {
  display: block;
  width: 9.1rem;
  height: 43px;
  float: left;
  z-index: 11;
  cursor: pointer;
}

#next a i, #prev a i {
  font-family: "letter-gothic-std", monospace;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  font-size: 1.1rem;
}

#prev a {
  margin-left: -11px;
  padding-top: 11px;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(270deg) translateX(-103%) translateY(12px);
  -ms-transform: rotate(270deg) translateX(-103%) translateY(12px);
  transform: rotate(270deg) translateX(-103%) translateY(12px);
}

#prev a i {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#prev a i:before {
  -webkit-transform: translateY(-3px) translateX(3px);
  -ms-transform: translateY(-3px) translateX(3px);
  transform: translateY(-3px) translateX(3px);
}

#next a {
  margin-right: -11px;
  padding-bottom: 11px;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translateY(-29px) translateX(6px);
  -ms-transform: rotate(90deg) translateY(-29px) translateX(6px);
  transform: rotate(90deg) translateY(-29px) translateX(6px);
}

#next a i {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#next a i:before {
  -webkit-transform: translateY(-10px) translateX(2px);
  -ms-transform: translateY(-10px) translateX(2px);
  transform: translateY(-10px) translateX(2px);
}

#prev:hover {
  left: 9px;
}

#next:hover {
  right: 9px;
}

.project-intro {
  width: 75%;
  margin: 0 auto;
  max-width: 2360px;
  text-align: center;
}

.project-intro h1 {
  font-family: "cooper-black-std", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 4.65rem;
  letter-spacing: -0.04em;
  margin-top: 3.75rem;
  line-height: .85;
}

.project-intro h2 {
  font-size: .75rem;
  line-height: 1.25;
  margin: 3.125rem auto 2.785rem;
  font-family: "neuzeit-grotesk",sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.project-intro p {
  margin-bottom: 4.125rem;
}

.work-grid aside {
  position: relative;
  height: 200px;
}

@media only screen and (min-width: 38em) {
  .work-grid aside {
    height: 300px;
  }
}

@media only screen and (min-width: 60em) {
  .work-grid aside {
    height: 600px;
  }
}

.work-grid .graphic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

@media only screen and (min-width: 38em) {
  .work-grid .gutter-right {
    padding-right: 9px;
  }
  .work-grid .gutter-right .graphic {
    right: 9px;
  }
  .work-grid .gutter-left {
    padding-left: 9px;
  }
  .work-grid .gutter-left .graphic {
    left: 9px;
  }
}

@media only screen and (min-width: 38em) {
  .twocol-img .gutter-right {
    padding-right: 9px;
  }
  .twocol-img .gutter-right .graphic {
    right: 9px;
  }
  .twocol-img .gutter-left {
    padding-left: 9px;
  }
  .twocol-img .gutter-left .graphic {
    left: 9px;
  }
}

.push-top {
  margin-top: 5px;
}

@media only screen and (min-width: 38em) {
  .push-top {
    margin-top: 18px;
  }
}

.push-top-small {
  margin-top: 5px;
}

@media only screen and (min-width: 38em) {
  .push-top-small {
    margin-top: 0;
  }
}

.work-content .gutter-right {
  padding-right: 0px;
}

.work-content .gutter-left {
  padding-left: 0px;
}

@media only screen and (min-width: 60em) {
  .work-content .gutter-right {
    padding-right: 9px;
  }
  .work-content .gutter-left {
    padding-left: 9px;
  }
}

.work-content .text-section {
  padding-top: 2rem;
}

@media only screen and (min-width: 60em) {
  .work-content .text-section {
    padding-top: 0;
    margin-top: -5px;
  }
}

blockquote {
  margin-bottom: 1.5rem;
}

blockquote p {
  text-decoration: underline;
}

blockquote cite {
  display: block;
  margin-top: 1.5rem;
  text-decoration: none;
  font-style: normal;
  position: relative;
  padding-left: 1rem;
}

blockquote cite:after {
  content: '–';
  color: #464646;
  position: absolute;
  left: 0;
  top: -1px;
}

#about-project {
  background-color: #f2f5f2;
}

#about-project #project-about h1, #about-project #project-about h2 {
  margin-bottom: 1rem;
}

#about-project #project-about p {
  max-width: 35rem;
  font-size: 1.5625rem;
  line-height: 1.56;
  text-decoration: underline;
  text-align: center;
  margin: 3.125rem auto 2.785rem;
  font-family: "neuzeit-grotesk",sans-serif;
  font-weight: 700;
  letter-spacing: 0.04em;
}

#about-project .more-projects {
  text-align: center;
}

#about-project .more-projects h2 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.04em;
}

#about-project .more-projects .project-list {
  list-style-type: none;
  font-size: 3.0525rem;
}

#about-project .more-projects .project-list a {
  color: #464646;
  letter-spacing: -0.01em;
  line-height: 1.3;
  margin: 0;
  text-decoration: none;
  position: relative;
}

#about-project .more-projects .project-list a span {
  text-decoration: underline;
}

#about-project .more-projects .project-list a:link {
  color: #464646;
  text-decoration: underline;
}

#about-project .more-projects .project-list a:hover, #about-project .more-projects .project-list a:active, #about-project .more-projects .project-list a:focus, #about-project .more-projects .project-list a .current {
  color: #dddfe1;
}

#about-project .more-projects .project-list a:visited {
  color: #dddfe1;
  text-decoration: none;
}

.project-info figure {
  margin-top: 18px;
  margin-bottom: 0;
}

.project-info figure figcaption p {
  font-size: .64rem;
  margin-top: 6px;
}

.center-holder {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.02);
  position: relative;
  height: 20rem;
}

@media only screen and (min-width: 38em) {
  .center-holder {
    height: 30rem;
  }
}

@media only screen and (min-width: 60em) {
  .center-holder {
    height: 40rem;
  }
}

.center-holder img {
  display: block;
  position: absolute;
  width: 20%;
  max-width: 150px;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-61%);
  -ms-transform: translateY(-61%);
  transform: translateY(-61%);
}
