// Variables

$white: #fff;
$text: #464646;
$background-dark: #383838;
$light-grey: #f2f5f2;
$lightblue: #ddf4f6;
$footertext: #b2b2b2;

$media-s: "only screen and (min-width: 25em)";
$media-m: "only screen and (min-width: 38em)";
$media-l: "only screen and (min-width: 60em)";