<!-- Contact Info -->

<h1 class="tres neuzeit underline">More about Salt.</h1>
<p>Salt is a multidisciplinary design studio focused on art direction and branding. Our mission is to help people tell their stories and create experiences that engage their customers. </p>
<p>We work on a range of media. We like to get our hands dirty and learn new things. Each project is a chance to explore and collaborate: between us, and with you. Have an idea for a project? Let's meet. The first coffee is always on us.</p>
<h2 class="tres neuzeit underline">Hire us.</h2>
<ul>
    <li><i class="icon-arrow icon-arrow-contact"></i><a href="tel:6137008787">(613) 700-8787</a></li>
    <li><i class="icon-arrow icon-arrow-contact"></i><a href="emailto:just@addsalt.ca">just@addsalt.ca</a></li>
    <li class="font_small">179 Murray St, Studio J</br>Ottawa, ON K1N 5M7</li>
</ul>
