<!-- Dani -->

<figure>
    <img src="{{site.baseurl}}/images/dani-hand-wtnew-bg.png">
    <figcaption>
        <h3 class="">Dani Chavez Ackermann</h3>
        <p>– Designer, coder, organizer, communicator. Eternal optimist, default people-person.</p>
        <ul class="contact-list">
            <li><a class="icon-mail" href="emailto:daniela@justaddsalt.ca" target="_blank">Email</a></li>
            <li><a class="icon-linkedin" href="http://ca.linkedin.com/in/meetdani" target="_blank">LinkedIn</a></li>
            <li><a class="icon-instagram" href="http://www.instagram.com/meet_dani" target="_blank">Instagram</a></li>
            <li><a class="icon-dribbble" href="http://dribbble.com/meet_dani" target="_blank">Dribbble</a></li>
        </ul>
    </figcaption>
</figure>