<!-- Jesse -->

<figure>
    <img src="{{site.baseurl}}/images/jesse-hand-wt-bg.png">
    <figcaption>
        <h3>Jesse Virag</h3>
        <p>– Designer, strategist, writer, and editor. Old soul, young money.</p>
        <ul class="contact-list">
            <li><a class="icon-mail" href="emailto:jesse@justaddsalt.ca" target="_blank">Email</a></li>
            <li><a class="icon-linkedin" href="http://ca.linkedin.com/in/jessevirag" target="_blank">LinkedIn</a></li>
            <li><a class="icon-instagram" href="http://www.instagram.com/jessevirag" target="_blank">Instagram</a></li>
            <li><a class="icon-dribbble" href="http://dribbble.com/jessevirag" target="_blank">Dribbble</a></li>
        </ul>
    </figcaption>
</figure>