<!-- Jesse -->

<figure>
    <img src="http://www.justaddsalt.ca/salt-dev/images/jesse-hand-xt-bg.png">
    <figcaption>
        <h3>Jesse Virag</h3>
        <p>– Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        <ul class="contact-list">
            <li><a class="icon-mail" href="emailto:jesse@justaddsalt.ca">Email</a></li>
            <li><a class="icon-linkedin" href="http://ca.linkedin.com/in/jessevirag">LinkedIn</a></li>
            <li><a class="icon-instagram" href="http://www.instagram.com/jessevirag">Instagram</a></li>
            <li><a class="icon-dribbble" href="http://dribbble.com/jessevirag">Dribbble</a></li>
        </ul>
    </figcaption>
</figure>