<header>
    <nav class="neuzeit">
        <a id="salt-logo" href="/">Salt.</a>
        <ul>
            <li><a class="smooth-scroll" href="{{site.baseurl}}/#work">Work <i class="icon-arrow"></i></a></li>
            <li><a class="smooth-scroll" href="{{site.baseurl}}/#about">About <i class="icon-arrow"></i></a></li>
            <li><a class="smooth-scroll" href="{{site.baseurl}}/#contact">Contact <i class="icon-arrow"></i></a></li>
            <li class="instagram-link cooper"><a href="http://www.instagram.com/just_addsalt" target="_blank"><i class="icon-instagram"></i><span class="text">just_addsalt</span></a></li>
        </ul>
    </nav>
</header>