<header>
    <nav class="neuzeit">
        <a id="salt-logo" href="/">Salt.</a>
        <ul>
            <li><a class="smooth-scroll arrow-bounce" href="#work">Work <i>→</i></a></li>
            <li><a class="smooth-scroll arrow-bounce" href="#about">About <i>→</i></a></li>
            <li><a class="smooth-scroll arrow-bounce" href="#contact">Contact <i>→</i></a></li>
            <li class="instagram-link cooper"><a href="http://wwww.instagram.com/just_addsalt"><i class="icon-instagram"></i>just_addsalt</a></li>
        </ul>
    </nav>
</header>