<!-- People we Like -->

<h2 class="reg neuzeit underline">People we like.</h2>
<div class="grid">
    <p class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2">
        We don’t have any affiliation with these people (honest), but they’re pretty cool.
    </p>
    <ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 we-like">
        <li><a href="http://www.greenmeloninc.com">Greenmelon, Inc. <i>→</i></a></li>
        <li><a href="http://www.so-tek.com/">Sotek Printers <i>→</i></a></li>
        <li><a href="http://www.speakeasycollective.tv/">Speakeasy Collective <i>→</i></a></li>
        <li><a href="http://www.xovelo.com/">Ottawa Velo Vogue <i>→</i></a></li>
        <li><a href="">Speakeasy Collective <i>→</i></a></li>
    </ul>
</div>