<ul class="project-list neuzeit">
    <!--Agora--><li><a href="{{site.baseurl}}/work/agora/" class="{% if page.url == '/agora.html' %}current{% endif %}">Agora</a></li>
    
    <!--Let's Matcha--><li><a href="{{site.baseurl}}/work/lets-matcha/" class="{% if page.url == '/lets-matcha.html' %}current{% endif %}">Let's Matcha</a></li>
    
    <!--Tek-AV--><li><a href="{{site.baseurl}}/work/tek-av/" class="{% if page.url == '/tek-av.html' %}current{% endif %}">T<span class="kern-2">ek-A<span class="kern-1">V</span></span></a></li>
    
    <!--LVD Fitness--><li><a href="{{site.baseurl}}/work/lvd-fitness/" class="{% if page.url == '/lvd-fitness.html' %}current{% endif %}">LVD Fitness</a></li>
    
    <!--NFID--><li><a href="{{site.baseurl}}/work/national-fire-information-database/" class="{% if page.url == '/national-fire-information-database.html' %}current{% endif %}">NFID</a></li>
    
    <!--Lunar Cycles--><li><a href="{{site.baseurl}}/work/lunar-cycles/" class="{% if page.url == '/lunar-cycles.html' %}current{% endif %}">Lunar Cycles</a></li>
    
    <!--Enhansoft--><li><a href="{{site.baseurl}}/work/enhansoft/" class="{% if page.url == '/enhansoft.html' %}current{% endif %}">Enhansoft</a></li>
    
    <!--Sigil & Growler--><li><a href="{{site.baseurl}}/work/sigil-and-growler/" class="{% if page.url == '/sigil-and-growler.html' %}current{% endif %}">Sigil &amp; Growler</a></li>
    
    <!--Dive--><li><a href="{{site.baseurl}}/work/dive/" class="{% if page.url == '/dive.html' %}current{% endif %}">Dive</a></li>
    
    <!--Explorandes <li><a href="{{site.baseurl}}/work/explorandes/" class="{% if page.url == '/explorandes.html' %}current{% endif %}">Explorandes</a></li> -->
    
    <!--Rhapsody Strategies--><li><a href="{{site.baseurl}}/work/rhapsody-strategies/" class="{% if page.url == '/rhapsody-strategies.html' %}current{% endif %}">Rhapsody Strategies</a></li>
    
    <!--The Door <li><a href="{{site.baseurl}}/work/the-door-mural/" class="{% if page.url == '/the-door-mural.html' %}current{% endif %}">The Door Mural</a></li>-->
    
    <!--Freshmart--><li><a href="{{site.baseurl}}/work/freshmart/" class="{% if page.url == '/freshmart.html' %}current{% endif %}">Freshmart</a></li>

</ul>