<!-- Services -->

<h2 class="reg neuzeit underline no-margin-top">Services.</h2>
<div class="grid">
    <ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2">
        <li>Art Direction</li>
        <li>Logo Design &amp; Branding</li>
        <li>Web Design</li>
        <li>Advertising</li>
        <li>Illustration</li>
        <li>Packaging</li>
        <li>UI/UX</li>
        <li>Photography</li>
        <li>Motion Design &amp; Animation</li>
    </ul>
    <ul class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2">
        <li>Signage</li>
        <li>Book Design</li>
        <li>Lettering</li>
        <li>Newsletters</li>
        <li>Lemonade Stand Banners</li>
        <li>Garage Sale Signs</li>
        <li>Your Annual Christmas Card</li>
        <li>Church Bakesale Flyers</li>
        <li>Missing Cat/Dog Posters</li>
    </ul>
</div>