<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Tek-AV is an Ottawa-based contracting service specializing in the installation of home comfort, entertainment and technology.">
	<link href="css/style.css" rel="stylesheet">
	<title>Salt. Ideas that taste good.</title>
</head>
	
<body>
    <div class="container">
        {% include nav.html %}
        
        <main>

            <section id="intro">
                <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-5-8">
                    {% include intro-par.html %}
                    <span class="vertical-link">
                        <a href="#contact" class="smooth-scroll all-caps">Follow</a><a class="white smooth-scroll all-caps" href="#contact"> us please <i>→</i></a>
                    </span>
                </div>
            </section>

            <section id="work">

            {{content}}

            </section>

            <section id="about">
                <div class="max-width">
                    <div id="contact">
                        {% include contact-info.html %}
                    </div>

                    <div class="grid about-bottom">

                        <!-- Team -->
                        <div id="team" class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter-right">
                            <h2 class="reg neuzeit underline">The team.</h2>
                            {% include dani.html %}
                            {% include jared.html %}
                            {% include jesse.html %}
                        </div> <!-- End Team -->

                        <!-- Services -->
                        <div id="services" class="font_small unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2 gutter-left">
                            {% include services.html %}
                            {% include people-we-like.html %}
                        </div> <!-- End Services -->

                    </div> <!-- End Team/Services -->
                </div>
            </section> <!-- End About -->
        </main>
        
        <footer>
            <p>© 2015 Salt.</p>
        </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://use.typekit.net/rgh7tbr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
        $(function() {
          $('.smooth-scroll').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 500);
                return false;
              }
            }
          });
        });
    </script>
</body>
</html>