<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name='viewport' content='width=device-width, initial-scale=1.0'/>
	<meta name="description" content="Salt is a multidisciplinary graphic design studio focused on art direction and branding.">
	
    <!--Facebook Open Graph meta tags. Also works on Pinterest -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="Salt. Ideas that taste good.">
    <meta property="og:url" content="http://www.justaddsalt.ca">
    <meta property="og:site_name" content="Salt.">
    <meta property="og:description" content="Salt is a multidisciplinary graphic design studio focused on art direction and branding.">
    <meta property="og:image" content="{{site.baseurl}}/images/salt-socialmedia.png">
    
    <!--Twitter Open Graph meta tags. Also works on Pinterest -->
    <meta name="twitter:card" content="article">
    <meta name="twitter:title" content="Salt. Ideas that taste good.">
    <meta name="twitter:url" content="http://www.justaddsalt.ca">
    <meta name="twitter:site_name" content="Salt.">
    <meta name="twitter:description" content="Salt is a multidisciplinary graphic design studio focused on art direction and branding.">
    <meta name="twitter:image0" content="{{site.baseurl}}/images/salt-socialmedia.png">  
    
    <meta name="application-name" content="Salt.">
    <link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/favicon-152.png">
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/favicon-144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <title>Salt. Ideas that taste good.</title>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://use.typekit.net/rgh7tbr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
	
<body class="{{page.bodyClass}}">
    <div class="container">
        
        <main class="{{page.mainClass}}">
            {{content}}
        </main>
        
        
    </div>
</body>
    
    <script>
        $(function() {
          $('.smooth-scroll').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 500);
                return false;
              }
            }
          });
        });
    </script>
    
</html>