---
layout: default
bodyClass: internal
mainClass: project-info
---

{% include nav2.html %}

<div class="project-nav" id="prev">
    <a href="{{site.baseurl}}/work/{{page.prev}}"><i class="icon-arrow"></i> Prev Project</a>
</div>
<div class="project-nav" id="next">
    <a href="{{site.baseurl}}/work/{{page.next}}">Next Project <i class="icon-arrow"></i></a>
</div>

<div class="intro-img {{page.mastheadClass}}"></div>

{{content}}

<section id="about-project" class="push-top">
    <div class="max-width">
        <!--<div id="project-about">
            <p>This project was really awesome because…here we can describe the take-aways from the project. We can touch upon our experiences, our client relationship, lessons learnt and anything else that came up along the way.</p>
        </div> -->
        <div class="more-projects">
            <h2 class="reg neuzeit underline no-margin-top">More Projects</h2>
            {% include projects-nav.html %}
        </div>
    </div>
</section> 

<footer id="contact" class="grid">
    <p class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2 footer-left">© 2015 Salt.<a href="tel:6137008787">613-700-8787</a><a href="emailto:just@addsalt.ca">just@addsalt.ca</a></p>
    <p class="unit unit-xs-1 unit-s-1 unit-m-1-2 unit-l-2 footer-right">You seem cool. <a href="emailto:hello@justaddsalt.ca">Work with us.</a></p>
</footer>